
            <p class="nd_sidebar-title"><em>Node Vendor Search</em></p>
            <fieldset>
              <legend class="nd_sidebar-legend">
                <label><em><strong>Vendor</strong></em></label>
              </legend>
              <div class="clearfix">
                <select class="nd_side-select nd_colored-input form-select" size="[% vendor_list.size > 8 ? 8 : vendor_list.size %]"
                  multiple name="vendor"
                  rel="tooltip" data-bs-placement="left" data-bs-title="Vendor">
                  [% FOREACH opt IN vendor_list %]
                    [% NEXT IF opt == '' %]
                    <option[% ' selected="selected"' IF vendor_lkp.exists(opt) %]>[% opt | html_entity %]</option>
                  [% END %]
                </select>
              </div>
            </fieldset>

            <fieldset>
              <legend class="nd_sidebar-legend">
                <label><em><strong>Options</strong></em></label>
              </legend>
                <div class="clearfix input-group"
                    rel="tooltip" data-bs-placement="left" data-bs-title="Include Archived Data">
                  <label class="input-group-text">
                  <input type="checkbox" id="archived"
                    name="archived"[% ' checked="checked"' IF params.archived %]/>
                  </label>
                  <label class="nd_checkboxlabel" for="archived">
                    <span class="nd_searchcheckbox form-control-plaintext">Archived Data</span>
                  </label>
                </div>
            </fieldset>

            <button id="[% report.tag | html_entity %]_submit" type="submit" class="btn btn-info">
             <i class="fas fa-magnifying-glass fa-lg float-start nd_navbar-icon"></i> Search Vendors</button>

