
            <div class="clearfix nd_netmap-sidebar">
              <em class="text-muted nd_sidebar-label">Filter by VLAN:</em><br/>
              <input id="nd_port-query" class="form-control" placeholder="" type="number"
                name="vlan" value="[% params.vlan | html_entity %]"
                rel="tooltip" data-bs-placement="left" data-bs-title="VLAN"/>
            </div>
            <button id="[% tab.tag | html_entity %]_submit" type="submit" class="btn btn-info">
                <i class="fas fa-magnifying-glass fa-lg float-start nd_navbar-icon"></i> Search Ports</button>

