

            <input name="q" value="[% params.q | html_entity %]" type="hidden"/>
            <input name="f" value="[% params.f | html_entity %]" type="hidden"/>
            <input type="hidden" data-nd-has-sidebar="portlog" value="0">
