
            <div class="clearfix">
              <input id="nd_ipinventory-subnet" class="nd_sidebar-topinput nd_colored-input form-control"
                placeholder="0.0.0.0/0" required="required"
                name="subnet" value="[% params.subnet | html_entity %]" type="text" autocomplete="off"
                data-nd-typeahead="/ajax/data/subnet/typeahead" data-nd-typeahead-min="3"
                rel="tooltip" data-bs-placement="left" data-bs-title="Prefix/Subnet in CIDR Format"/>
            </div>

            <fieldset>
              <legend class="nd_sidebar-legend">
                <label><em><strong>Date Range</strong></em></label>
              </legend>
              [%- all_dates = to_daterange() -%]
              [%- INCLUDE 'sidebar/_daterange.tt'
                    all_dates = all_dates
                    current   = (params.exists('daterange') ? params.daterange : all_dates)
                    required  = 1 -%]
            </fieldset>

            <button id="[% report.tag | html_entity %]_submit" type="submit" class="btn btn-info">
             <i class="fas fa-magnifying-glass fa-lg float-start nd_navbar-icon"></i> Search Subnets</button>
