<i class="nd_sidebar-toggle fas fa-wrench fa-lg" id="nd_sidebar-toggle-img-out"
  rel="tooltip" data-bs-placement="left" data-bs-title="Show Sidebar"></i>
<div class="container-fluid">
  <div class="nd_sidebar nd_sidebar-pinned">
    <div class="card">
      <div class="card-body">
        <i class="nd_sidebar-toggle fas fa-arrow-right-from-bracket" id="nd_sidebar-toggle-img-in"
          rel="tooltip" data-bs-placement="left" data-bs-title="Hide Sidebar" data-bs-container="body"></i>
        <i class="nd_sidebar-pin fas fa-thumbtack nd_sidebar-pin-clicked"
          rel="tooltip" data-bs-placement="left" data-bs-title="Unpin Sidebar" data-bs-container="body"></i>

        <div class="tab-content">
          <div id="[% report.tag | html_entity %]_search" class="tab-pane active">
            <form id="[% report.tag | html_entity %]_form" class="nd_sidebar-form form-stacked"
                method="get" action="[% uri_for('/report') | none %]">
              [% TRY %]
              <script type="text/javascript">has_sidebar["[% report.tag | html_entity %]"] = 1;</script>
              [% INCLUDE "sidebar/report/${report.tag}.tt" %]
              [% CATCH %]
              <script type="text/javascript">has_sidebar["[% report.tag | html_entity %]"] = [% report.rconfig.bind_params.size ? '1' : '0' %];</script>
              [% INCLUDE "sidebar/report/generic_report.tt" %]
              [% END %]
            </form>
          </div> <!-- /tab-pane -->
        </div> <!-- /tab-content -->
      </div>
    </div>
  </div>

  <div class="content">
    <ul id="nd_search-results" class="nav nav-tabs">
      <li class="nav-item"><a id="[% report.tag | html_entity %]_link" class="nav-link active nd_single-tab"
        href="#[% report.tag | html_entity %]_pane">[% report.label | html_entity %]</a></li>
      [% IF report.tag == 'portlog' %]
      <span id="nd_device-name">
        <a href="[% device_ports | none %]&q=[% params.q | uri %]">[% params.q | html_entity %]</a>
        -
        <a href="[% device_ports | none %]&q=[% params.q | uri %]&f=[% params.f | uri %]">[% params.f | html_entity %]</a>
      </span>
      [% ELSIF report.provides_csv %]
      <span id="nd_device-name">
        <a id="nd_csv-download" href="#" download="netdisco.csv">
          <i id="nd_csv-download-icon" class="text-info far fa-file-lines fa-lg"
            rel="tooltip" data-bs-placement="left" data-bs-title="Download as CSV"></i></a>
      </span>
      [% END %]
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="[% report.tag | html_entity %]_pane"></div>
  </div>
</div>

<script type="text/javascript">
[% IF report.rconfig.bind_params.size AND NOT report.rconfig.show_sidebar %]
$('.nd_sidebar').toggle(0);
$('#nd_sidebar-toggle-img-out').toggle();
$('.content').css('margin-right', '10px');
$('div.content > div.tab-content table.nd_floatinghead').floatThead('destroy');
$('div.content > div.tab-content table.nd_floatinghead').floatThead({
  top: 40
  ,position: 'fixed'
});
sidebar_hidden = 1;
[% END %]
[%+ INCLUDE 'js/report.js' -%]
</script>
