<i class="nd_sidebar-toggle fas fa-wrench fa-lg" id="nd_sidebar-toggle-img-out"
  rel="tooltip" data-bs-placement="left" data-bs-title="Show Sidebar"></i>
<div class="container-fluid">
  <div class="nd_sidebar">
    <div class="card">
      <div class="card-body">
        <i class="nd_sidebar-toggle fas fa-arrow-right-from-bracket" id="nd_sidebar-toggle-img-in"
          rel="tooltip" data-bs-placement="left" data-bs-title="Hide Sidebar" data-bs-container="body"></i>
        <i class="nd_sidebar-pin fas fa-thumbtack"
          rel="tooltip" data-bs-placement="left" data-bs-title="Pin Sidebar" data-bs-container="body"></i>
        <div class="tab-content">
          [% FOREACH tab IN settings._search_tabs %]
          <div id="[% tab.tag | html_entity %]_search" class="tab-pane [% 'active' IF params.tab == tab.tag %]">
            <form id="[% tab.tag | html_entity %]_form" class="nd_sidebar-form form-stacked" method="get" action="[% uri_for('/search') | none %]">
              <input name="tab" value="[% tab.tag | html_entity %]" type="hidden"/>
              [% TRY %]
              <script type="text/javascript">has_sidebar["[% tab.tag | html_entity %]"] = 1;</script>
              [% INCLUDE "sidebar/search/${tab.tag}.tt" %]
              [% CATCH %]
              <!-- no "[% tab.tag | html_entity %]" search options -->
              <input name="q" value="[% params.q | html_entity %]" type="hidden"/>
              <script type="text/javascript">has_sidebar["[% tab.tag | html_entity %]"] = 0;</script>
              [% END %]
            </form>
          </div> <!-- /tab-pane -->
          [% END %]
        </div> <!-- /tab-content -->
      </div>
    </div>
  </div>

  <div class="content">
    <ul id="nd_search-results" class="nav nav-tabs">
      [% FOREACH tab IN settings._search_tabs %]
      <li class="nav-item"><a class="nav-link[% ' active' IF params.tab == tab.tag %]" id="[% tab.tag | html_entity %]_link" href="#[% tab.tag | html_entity %]_pane">[% tab.label | html_entity %]</a></li>
      [% END %]
      <span id="nd_device-name">
        <a id="nd_csv-download" href="#" download="netdisco.csv">
          <i id="nd_csv-download-icon" class="text-info far fa-file-lines fa-lg"
            rel="tooltip" data-bs-placement="left" data-bs-title="Download as CSV"></i></a>
      </span>
    </ul>
    <div class="tab-content">
      [% FOREACH tab IN settings._search_tabs %]
      <div class="tab-pane[% ' active' IF params.tab == tab.tag %]" id="[% tab.tag | html_entity %]_pane"></div>
      [% END %]
  </div>
</div>

<script type="text/javascript">
[%+ INCLUDE 'js/search.js' -%]
</script>
