.nd_loginalert {
  margin-top: -40px;
}

.nd_herorow {
  margin-top: 50px;
}

.hero-unit {
  padding: 30px 60px 40px 90px;
}

.nd_loginform {
  margin-top: 30px;
  margin-bottom: 0px;
}

.nd_sidesearchform {
  padding-left: 0px;
}

.nd_searchcheckbox {
  width: 120px;
  padding-left: 35px;
  cursor: default;
}

.nd_bookmark {
  vertical-align: top;
}

.nd_search {
  margin-top: 15px;
}
