/* for the fixed navbar */
body {
  padding-top: 50px;
}

/* the bootstrap style is only set for input */
/* also make the green a little more bold */
form .clearfix.success select {
  border-color: green;
}
form .clearfix.success input {
  border-color: green;
}

.well {
  margin-right: 15px;
}

.nd_content {
  margin-left: 225px !important;
}

.nd_loginalert {
  margin-top: -40px;
}

.nd_herorow {
  margin-top: 50px;
}

.hero-unit {
  padding: 30px 60px 40px 90px;
}

.nd_loginform {
  margin-top: 30px;
  margin-bottom: 0px;
}

.nd_sidesearchform {
  padding-left: 0px;
}

.nd_searchcheckbox {
  width: 120px;
  padding-left: 35px;
  cursor: default;
}

.nd_bookmark {
  vertical-align: top;
}

.nd_legendlabel {
  float: right;
  line-height: 1.2;
  margin-top: 2px;
  margin-right: 3px;
}

.nd_search {
  margin-top: 15px;
}

.nd_stealthlink {
  text-decoration: none !important;
  color: #404040;
}

.nd_linkcell {
  display: block;
  padding: 0px;
  height: 100%;
}
