/* for the fixed navbar make sure content stops short of page top*/
body {
  padding-top: 50px;
}

/* the bootstrap style is only set for input so set for select too*/
/* also make the green a little more visible */
form .clearfix.success select {
  border-color: green;
}
form .clearfix.success input {
  border-color: green;
}

/* make the sidebar less wide */
.well {
  margin-right: 15px;
}

/* make the content start more to the left now the sidebar is narrower */
.nd_content {
  margin-left: 225px !important;
}

/* various styles to adjust the hero box used for homepage + login */
.nd_loginalert {
  margin-top: -40px;
}

.nd_herorow {
  margin-top: 50px;
}

.hero-unit {
  padding: 30px 60px 40px 90px;
}

.nd_loginform {
  margin-top: 30px;
  margin-bottom: 0px;
}

/* nudge content closer to the header labels in the sidebar */
.inputs-list:first-child {
  padding-top: 4px !important;
}

/* icolour for device name and ip in sidebar */
.device_label {
  color: #0069D6;
}

/* nudge content in the sidebar closer to the left */
.nd_sidesearchform {
  padding-left: 0px;
}

/* fixups for prepended checkbox in sidebar */
.nd_searchcheckbox {
  width: 120px;
  padding-left: 35px;
  cursor: pointer;
}

/* placement of the search/filter bookmark link icon */
.nd_bookmark {
  vertical-align: top;
}

/* fixups for placing the Archived "A" inside the prepended checkbox */
.nd_legendlabel {
  float: right;
  line-height: 1.2;
  margin-top: 2px;
  margin-right: 3px;
}

/* somewhere between span1 and span2 is desirable */
.nd_days_select {
  width: 56px;
}

/* search/filter button placement */
.nd_search {
  margin-top: 15px;
}

/* results table links with no decoration */
.nd_stealthlink {
  text-decoration: none !important;
  color: #404040;
}

/* make the whole cell become a hyperlink in results table */
.nd_linkcell {
  display: block;
  padding: 0px;
  height: 100%;
}

/* mouse-over should be pointer to show JS collapser is clickable */
.nd_collapser {
  cursor: pointer;
}

/* collapser label should not have any decoration even though it's clickable */
.clearfix > a {
  text-decoration: none !important;
}

/* class to control default state of collapsible lists on page load */
.nd_collapse_pre_hidden {
  display: none;
}

/* draw little up arrow to the right of a label for collapsed list */
.arrow-up {
  float: right;
  margin-top: 6px;
  margin-right: 11px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #F89406;
}

/* draw little down arrow to the right of a label for collapsed list */
.arrow-down {
  float: right;
  margin-top: 6px;
  margin-right: 11px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #F89406;
}

/* nudge the port name/vlan filter over a little */
.nd_port_query {
  margin-left: -2px !important;
}
