share/public/javascripts/*.map binary
share/public/javascripts/*.min.js binary
share/public/javascripts/jquery-history.js binary
share/public/css/smoothness/jquery-ui.custom.min.css binary
share/public/javascripts/jstree/jstree.min.js binary
share/public/css/toastr.css binary
share/public/css/*.min.css binary
share/public/swagger-ui/* binary
