Netdisco/share/environments/*
Netdisco/share/sessions
Netdisco/logs/*
Netdisco/App-Netdisco-*
*.swp
*.pid
test.pl
MYMETA.*
*.tar.gz
MANIFEST.*
*.komodo*
Makefile*
Build
_build
blib
!.docker/hooks/*
.idea
node_modules/*
yarn.lock
package.json
.stylelintrc
.vscode
*__pycache__*
.ruff_cache
uv.lock
