
            <span class="nd_sidebar-title"><em>Job Queue Filters</em></span>

            <div class="clearfix">
            </div>
            <div class="clearfix">

            <em class="text-muted">Backend:</em><br/>
            <div class="input-group">
              <input data-form="filter" class="nd_queue_ta nd_sidebar-dropdown form-control" name="backend" type="text" value="[% params.backend | html_entity %]">
              <span class="input-group-text nd_topo_dev_caret"><i class="fas fa-caret-down fa-lg"></i></span>
            </div>

            <em class="text-muted">Action:</em><br/>
            <div class="input-group">
              <input data-form="filter" class="nd_queue_ta nd_sidebar-dropdown form-control" name="action" type="text" value="[% params.action | html_entity %]">
              <span class="input-group-text nd_topo_dev_caret"><i class="fas fa-caret-down fa-lg"></i></span>
            </div>

            <em class="text-muted">Device:</em><br/>
            <div class="input-group">
              <input data-form="filter" class="nd_topo_dev nd_sidebar-dropdown form-control" name="device" type="text" value="[% params.device | html_entity %]">
              <span class="input-group-text nd_topo_dev_caret"><i class="fas fa-caret-down fa-lg"></i></span>
            </div>

            <em class="text-muted">Submitted by:</em><br/>
            <div class="input-group">
              <input data-form="filter" class="nd_queue_ta nd_sidebar-dropdown form-control" name="username" type="text" value="[% params.username | html_entity %]">
              <span class="input-group-text nd_topo_dev_caret"><i class="fas fa-caret-down fa-lg"></i></span>
            </div>

            <em class="text-muted">Job status:</em><br/>
            <div class="input-group">
              <input data-form="filter" class="nd_queue_ta nd_sidebar-dropdown form-control" name="status" type="text" value="[% params.status | html_entity %]">
              <span class="input-group-text nd_topo_dev_caret"><i class="fas fa-caret-down fa-lg"></i></span>
            </div>

            <em class="text-muted">Duration:</em><br/>
            <label><span id="nd_vlan-label-text">Longer than </span>
              <input name="duration" class="nd_sidebar-narrow-dropdown form-control d-inline-block" type="number" placeholder="0"
                value="[% params.duration | html_entity %]" type="text"/> mins
            </label>

            </div>

            <button id="[% task.tag | html_entity %]_submit" type="submit" class="btn btn-info">
                <i class="fas fa-magnifying-glass fa-lg float-start nd_navbar-icon"></i>
            Filter</button>

