

            <input name="dev1"  value="[% params.dev1  | html_entity %]" type="hidden"/>
            <input name="port1" value="[% params.port1 | html_entity %]" type="hidden"/>
            <input type="hidden" data-nd-has-sidebar="topology" value="0">
