[% IF orphans.size > 0 %]
<div class="accordion" id="accordion-orphans">
  <div class="accordion-item">
      <div class="accordion-header">
          <a class="d-block px-3 py-2" data-bs-toggle="collapse" data-bs-target="#collapse-orphan" href="#collapse-orphan">
            <i class="fas fa-chevron-up"></i> &nbsp;
            Orphaned Devices
          </a>
      </div>
    <div id="collapse-orphan" class="accordion-collapse collapse">
      <div class="accordion-body">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Device</th>            
            <th>Location</th>
            <th>Contact</th>
            <th>Vendor</th>
            <th>Model</th>
          </tr>
        </thead>
        <tbody>
          [% FOREACH row IN orphans %]
          <tr>
            <td><a href="[% uri_for('/device') | none %]?q=[% row.ip | uri %]">
            [% row.dns || row.name || row.ip | html_entity %]</a></td>
            <td>
              [% IF row.location %]
                <a href="[% search_device | none %]&q=[% row.location | uri %]&location=[% row.location | uri %]">
                 [% row.location | html_entity %]</a>
              [% ELSE %]
                [Not Set]
              [% END %]
            </td>
            <td>[% row.contact | html_entity %]</td>
            <td>[% row.vendor | html_entity %]</td>
            <td>[% row.model | html_entity %]</td>
          </tr>
          [%END%]
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
[% END %]
[%# The largest graph is considered the main network, all others are
    considered orphaned, so we need two to generate div %]
[% IF graphs.size > 1 %]
<div class="accordion" id="accordion-networks">
[% count = 0 %]
[% FOREACH network IN graphs %]
  [% count = count + 1 %]
  [%# The largest is not an orphan, so skip %]
  [% NEXT IF count == 1 %]
  <div class="accordion-item">
      <div class="accordion-header">
          <a class="d-block px-3 py-2" data-bs-toggle="collapse" data-bs-target="#collapse-[% count | html_entity %]" href="#collapse-[% count | html_entity %]">
            <i class="fas fa-chevron-up"></i> &nbsp;
              Orphaned Network: [% count - 1 | html_entity  %] Size: [% network.size | html_entity  %] Devices
          </a>
      </div>
    <div id="collapse-[% count | html_entity %]" class="accordion-collapse collapse">
      <div class="accordion-body">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Device</th>            
            <th>Location</th>
            <th>Contact</th>
            <th>Vendor</th>
            <th>Model</th>
          </tr>
        </thead>
        <tbody>
        [% FOREACH row IN network %]
          <tr>
            <td><a href="[% uri_for('/device') | none %]?tab=netmap&q=[% row.ip | uri %]&firstsearch=on">
            [% row.dns || row.name || row.ip | html_entity %]</a></td>
            <td>
              [% IF row.location %]
                <a href="[% search_device | none %]&q=[% row.location | uri %]&location=[% row.location | uri %]">
                 [% row.location | html_entity %]</a>
              [% ELSE %]
                [Not Set]
              [% END %]
            </td>
            <td>[% row.contact | html_entity %]</td>
            <td>[% row.vendor | html_entity %]</td>
            <td>[% row.model | html_entity %]</td>
          </tr>
        [% END %]
        </tbody>
      </table>
    </div>
  </div>
  </div>
[% END %]
</div>
[% END %]
<script>
$('.accordion').on('show.bs.collapse hide.bs.collapse', function (n) {
    $(n.target).siblings('.accordion-header').find('a i').toggleClass('fa-chevron-up fa-chevron-down');
});
</script>
