[% USE CSV -%]
[% CSV.dump([ 'Vlan ID' 'VLAN Name' ]) %]

[% FOREACH row IN results %]
  [% mylist = [] %]
  [% FOREACH col IN [ row.vlan row.description ] %]
    [% mylist.push(col) %]
  [% END %]
  [% CSV.dump(mylist) %]
[% END %]
