[% USE CSV -%]
[% CSV.dump([ 'Name' 'DNS' 'IP Address' 'Contact' 'Location' ]) %]

[% FOREACH row IN results %]
  [% mylist = [] %]
  [% mylist.push(row.name) %]
  [% mylist.push(row.dns) %]
  [% mylist.push(row.ip) %]
  [% mylist.push(row.contact) %]
  [% mylist.push(row.location) %]
  [% CSV.dump(mylist) %]

[% END %]
