[% USE CSV -%]
[% CSV.dump([ 'Device' 'Port' 'Description' 'Duplex' ]) %]

[% WHILE (row = results.next) %]
  [% mylist = [] %]
  [% device = row.device.dns || row.device.ip %]
  [% FOREACH col IN [ device row.port row.name row.duplex.ucfirst ] %]
    [% mylist.push(col) %]
  [% END %]
  [% CSV.dump(mylist) %]

[% END %]