[% USE CSV %]
[% CSV.dump([ 'Node' 'DNS' 'Time Last' 'Time First' ]) %]

[% FOREACH row IN results %]
  [% mylist = [] %]
  [% mylist.push(row.ip) %]
  [% mylist.push(row.mac) %]
  [% mylist.push(row.dns) %]
  [% mylist.push(row.time_last) %]
  [% CSV.dump(mylist) %]

[% END %]


