[% USE CSV -%]
[% CSV.dump([ 'SSID' 'Broadcast' 'Count' ]) %]

[% WHILE (row = results.next) %]
  [% mylist = [] %]
  [% mylist.push(row.ssid) %]
  [% mylist.push(row.broadcast ? 'Yes' : 'No') %]
  [% mylist.push(row.get_column('scount')) %]
  [% CSV.dump(mylist) %]

[% END %]
