        <div id="port_search" class="tab-pane [% 'active' IF params.tab == 'port' %]">
          <form id="port_form" class="nd_sidesearchform form-stacked" method="get" action="/search">
            [%+ INCLUDE inc/search/box.tt %]
            <input name="tab" value="vlan" type="hidden"/>
            [%+ INCLUDE inc/search/submit.tt %]
          </form>
        </div> <!-- /tab-pane -->
