body {
  padding-top: 0 !important;
}

#nd_search-results > li:not(.active) {
  display: none !important;
}

.navbar, .nd_sidebar {
  display: none !important;
}

.content, .nd_content {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.floatThead-table {
  position: inherit;
  top: 45px;
}

a::after {
  content: "" !important;
}
