<a href="[% settings.plugin_rancid.location.replace('\%GROUP\%',rancidgroup).replace('\%DEVICE\%',ranciddevice) %]"
  [% ' target="_blank"' UNLESS settings.plugin_rancid.open_in_same_window %]
>View Configuration <i class="icon-circle-arrow-right"></i></a>
