
          <form id="[% tab.id %]_form" class="nd_sidesearchform form-stacked" method="get" action="/device">
            <input name="ip" value="[% params.ip %]" type="hidden"/>
            <input name="q" value="[% params.q %]" type="hidden"/>
          </form>
