[% USE CSV -%]
[% CSV.dump([ 'Channel' 'Count' ]) %]

[% FOREACH row IN results %]
  [% mylist = [] %]
  [% mylist.push(row.channel) %]
  [% mylist.push(row.ch_count) %]
  [% CSV.dump(mylist) %]

[% END %]
