<table id="data-table" class="table table-bordered table-hover" width="100%" cellspacing="0"
  data-nd-urls='{"device":"[% uri_for('/device') | html_entity %]"}'
  data-nd-table='{
  "serverSide": true,
  "ajax": "[% uri_for("/ajax/content/report/devicepoestatus/data") | html_entity %]",
  "order": [[0,"asc"]],
  "columns": [
    {"data":"ip","visible":false},
    {"data":"dns","visible":false},
    {"data":"name","visible":false},
    {"data":"model","visible":false},
    {"data":"location","visible":false},
    {"data":"module","searchable":false,"render":"raw"},
    {"data":"status","className":"nd_center-cell","render":"escape"},
    {"data":"power","className":"nd_center-cell","searchable":false,"render":"number"},
    {"data":"poe_capable_ports","className":"nd_center-cell","searchable":false,"render":"number"},
    {"data":"poe_powered_ports","className":"nd_center-cell","searchable":false,"render":"number"},
    {"data":"poe_disabled_ports","className":"nd_center-cell","searchable":false,"render":"number"},
    {"data":"poe_errored_ports","className":"nd_center-cell","searchable":false,"render":"number"},
    {"data":"poe_power_committed","className":"nd_center-cell","searchable":false,"render":"number"},
    {"data":"poe_power_delivering","className":"nd_center-cell","searchable":false,"render":"number"}
  ],
  "drawCallback": {"name":"groupDeviceRows","colspan":9,"nameKey":"name","toggleOrder":true}
}'>
  <thead>
    <tr>
      <th>IP</th>
      <th>DNS</th>
      <th>Name</th>
      <th>Model</th>
      <th>Location</th>
      <th>PoE<br>Module</th>
      <th class="nd_center-cell">Supply</th>
      <th class="nd_center-cell">Power<br>(W)</th>
      <th class="nd_center-cell">Capable<br>Ports</th>
      <th class="nd_center-cell">Powered<br>Ports</th>
      <th class="nd_center-cell">Disabled<br>Ports</th>
      <th class="nd_center-cell">Errored<br>Ports</th>
      <th class="nd_center-cell">Committed<br>(W)</th>
      <th class="nd_center-cell">Delivering<br>(W)</th>
    </tr>
  </thead>
</table>

<style>
tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
</style>
