<table id="nsbi-data-table" class="table table-bordered table-hover" width="100%" cellspacing="0"
  data-nd-table='{"columnDefs":[{"visible":false,"targets":0}],"ordering":false,"drawCallback":{"name":"groupRows","colspan":2,"html":true}}'>
  <thead>
    <tr>
      <th>Model</th>
      <th>Operating System Version</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH row IN results %]
    <tr>
      <td>
        <a href="[% search_device | none %]&q=[% row.model | uri %]&vendor=[% row.vendor | uri %]&model=[% row.model | uri %]">
            [% row.vendor.ucfirst | html_entity %]&nbsp;[% row.model | html_entity %]</a>
            [% IF row.os %] running &quot;[% row.os | html_entity %]&quot;[% END %]
      </td>
      <td>
        <a class="nd_linkcell"
          href="[% search_device | none %]&q=[% row.os_ver | uri %]&vendor=[% row.vendor | uri %]&model=[% row.model | uri %]&os=[% row.os | uri %]&os_ver=[% row.os_ver | uri %]&matchall=on">
            [% row.os_ver | html_entity %]</a>
      </td>
      <td>[% row.os_ver_count | html_entity %]</td>
    </tr>
    [% END %]
  </tbody>
</table>

<style>
tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
</style>
