[% USE CSV %]
[% CSV.dump([ 'Node' 'MAC Address' 'Vendor' 'DNS' 'Last Used' ]) %]

[% FOREACH row IN results %]
  [% mylist = [] %]
  [% mylist.push(row.ip) %]
  [% mylist.push(row.mac) %]
  [% mylist.push(row.vendor) %]
  [% mylist.push(row.dns) %]
  [% mylist.push(row.time_last) %]
  [% CSV.dump(mylist) %]

[% END %]
