[% USE CSV -%]
[% CSV.dump([ 'VLAN ID' 'VLAN Name' 'Device Count' 'Port Count' ]) %]

[% FOREACH row IN results %]
  [% mylist = [] %]
  [% mylist.push(row.vlan) %]
  [% mylist.push(row.description) %]
  [% mylist.push(row.dcount) %]
  [% mylist.push(row.pcount) %]
  [% CSV.dump(mylist) %]

[% END %]
